@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: calc(264px + 3px);
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: #2d85d2;
  }
  to {
    border-right-color: transparent;
  }
}

@layer utilities {
  .typewriter {
    border-right: solid 3px #2d85d2;
    white-space: nowrap;
    overflow: hidden;
    /* font-family: 'Source Code Pro', monospace;   */
    /* font-size: 28px; */
    color: rgba(255, 255, 255, 0.7);

    animation: animated-text 4s steps(22) 1s 1 normal both,
      animated-cursor 600ms steps(22) infinite;
  }
}
